<div class="row">
  <div class="col-12">
    <h1>¡Bienvenido a Platziblog!</h1>
    <p>Platzi es lo más importante que haremos en nuestras vidas. Un verdadero aporte a que la región sea una potencia en tecnología.</p>
  </div>
</div>
